
   body {
    background: #CCCCCC
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}
# id imagemprincipal {
    width: 30 px%;
    border: 80 pix  red;
    height: 20 px;
    margin: 300px  solid red ;
    padding: 30px;
}

